#myCarousel.carousel.slide{ data: { ride: "carousel" } }

  %ol.carousel-indicators
    - (0..2).each do |i|
      %li{ class: i==0 && "active", data: { target: "#myCarousel", slide: i } }

  .carousel-inner

    - (1..3).each do |i|
      .item{ class: i == 1 && "active" }
        .container
          .carousel-caption
            %h1 Example Headline
            %p
              Note: If you're viewing this page via a <code>file://</code> URL,
              the "next" and "previous" Glyphicon buttons on the left and right
              might not load/display properly due to web browser security rules.
            %p
              %a.btn.btn-lg.btn-primary{ href: "#", role: "button"}
                Sign up today

.container.marketing
  - @plans.each_slice(3) do |row|
    .row
      - row.each do |plan|
        .col-lg-4
          %h2= plan
          %p Lorem ipsum dolar sit amet
          %p
            %a.btn.btn-default{ href: "#", role: "button" } View details &raquo;
