@import 'bootstrap';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/** BODY **/

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/** HEADER **/

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {

  /*
   * Special class on .container surrounding .navbar, used for positioning it
   * into place.
   */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  /* Flip around the padding for proper display in narrow viewports */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

}

/** FOOTER **/

#copyright {
  border-top: 1px solid #FFFFFF;
  padding: 16px;
  text-align: center;
  color: #5D7283;
  font-size: 12px;
}



.debug_dump {
  @include box_sizing;
  clear: both;
  float: left;
  margin: 40px 0 0 0;
  width: 100%;
}

