<footer id="footer">
  <div id="footer-bar"></div>
  <div id="footer-content">

  </div>
  <div id="copyright">
    <p>
      &copy; <a href="http://ablecreates.com" target="_blank">Able</a>
      2012 - <%= Date.today.year %> | All Rights Reserved
    </p>
  </div>
</footer>
